@page
@model CoreApp.Pages.BeneficiaryInitialSurveyModel
@{
    ViewData["Title"] = "BeneficiaryInitialSurvey";
}

<h2>BeneficiaryInitialSurvey</h2>


<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">I'm Hungry</label>
</div>
<br />
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">I Don't hHve a Place to Stay</label>
</div>
<br />
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">I Want to work</label>
</div>

<button type="button" class="btn btn-primary btn-lg btn-block">Show Me My Options</button>