@page
@model CoreApp.Pages.HelperIntialSurveyModel
@{
    ViewData["Title"] = "HelperIntialSurvey";
}

<h2>I'm A Helper</h2>



<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">I Want to Donate Money</label>
</div>
<br />
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">I want to Donate My Time</label>
</div>
<br />
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">I Can Offer a Job or a Gig</label>
</div>

<button> type="button" class="btn btn-primary btn-lg btn-block" <a href="http://localhost:57832/">Show Me How To Help</button>

